body{
  font-family: Arial, sans-serif;
}

#Topbar{
  width : 100%;
}

.Topul {
  list-style-type: none;
  height: 48px;
  width: 100%;
  background-color: rgb(245, 200, 124);
  display: grid;
  grid-template-columns: 1fr 1.35fr;
}


.Topa {
  color: black;
  display: flex;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
}

#logo {
  color:white;
  font-size: 18px;
  padding-left:40px;
  margin-right:auto;
  display: flex;
}

#init{
  width: 50px;
}

#mainpage{
  width: 160px
}