<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{{ post.title }}</title>
  </head>
  <body>
    <h1>{{ post.title }}</h1>
    <h3>작성자: {{ post.author }} | 작성일: {{ post.created_at }}</h3>
    <p>{{ post.content }}</p>
    <p>조회수: {{ post.view }}</p>
    <p id="Like">좋아요: {{ post.like }}</p>
    <form method="POST" id="LikeBtn">
      <button type="submit">좋아요</button>
    </form>
    
    <a href="{{ url_for('board.list_post',page=page,per_page=per_page,option=option,keyword=keyword) }}">
      목록
    </a>

    <script>
      $(document).ready(function() {
        $("#LikeBtn").submit(function(event){
          event.preventDefault();
          $.ajax({
            url: "{{ url_for('board.Like_post', post_id=post.id) }}",
            method: 'POST',
            success: function(response) {
              $("#Like").html("좋아요: "+response.like)
            },
            error: function(status, error) {
              alert("error");
            }
            
          });
        });
      });
    </script>
    
  </body>

</html>
